@model IEnumerable<RentalX.Models.Car>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["PageTitle"]</h2>

<p>
    @Html.ActionLink("Create New Car", "New", null, new { @class = "btn btn-primary" })
</p>

<table id="cars" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Model</th>
            <th>Make</th>
            <th>Class</th>
            <th>Mileage</th>
            <th>Cost/Day</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@Html.ActionLink(car.CarModel, "Edit", "Cars", new { id = car.Id }, null)</td>
                <td>@car.Make.Name</td>
                <td>@car.CarClass.Name</td>
                <td>@car.CarMileage.ToString("##,###")</td>
                <td>$ @car.CostPerDay</td>
            </tr>
        }
    </tbody>
</table>
